<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <!-- NAV BAR -->
    <nav class="navbar">
        <a  href="/">Delicacy</a>
        
            {{#if user}}
            <a href="/home">Home</a>
            <span>Hi, {{user.firstName}}!</span>
            <a href="/signout">Sign Out</a>
            <a href="/profile">Profile</a>

        {{else}}
            <a href="/signin">Sign In</a>
            <a href="/register">Register Now</a>
        {{/if}}
    
    </nav>
    <!-- NAV BAR -->

    <div class="content">
    {{{body}}}
    </div>
</body>

</html>