<main>
    <h1>
        Delicacy
    </h1>

    <h2>
        Location Search
    </h2>

    <form action="/searchResults" method="post">
        <label for="location">Your Location</label><br>
        <input class="location" type="text" id="location" name="location"><br>
        <input class="submit" type="submit" value="Submit">
    </form>   
</main>
