<main>
    <h1>Delicacy</h1>

    <h2>Find Restaurants</h2>

    <p>Find restaurants by name, borough, and/or cuisine type!</p>

    <form action="/searchResults" method="post" id="search-form">
        <label for="name">
            Restaurant Name
            <input class="name" type="text" id="name" name="name"><br>
        </label>
        <label for="boro">
            Borough Location
            <select name="boro" id="boro">
                <option value="select">Select Borough</option>
                <option value="bronx">Bronx</option>
                <option value="brooklyn">Brooklyn</option>
                <option value="manhattan">Manhattan</option>
                <option value="queens">Queens</option>
                <option value="statenIsland">Staten Island</option>
            </select>
        </label>
        <label for="cuisine">
            Cuisine Type
            <input class="cuisine" type="text" id="cuisine" name="cuisine"><br>
        </label>
        <button type="submit" name="submitButton" id="submitButton">Search</button> 
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</main>
