<main>
    <h1>Top 25 Cleanest Restaurants in NYC</h1>

    <p>Find the cleanest restaurants by name, borough, and/or cuisine type!</p>
    <p>Or, click submit without any search terms and find the top 25 cleanest restaurants in NYC!</p>

    <form action="/restaurantsLeaderboard" method="post" id="search-form-cleanest">
        <label for="name">
            Restaurant Name
            <input class="name" type="text" id="name" name="name"><br>
        </label>
        <label for="boro">
            Borough Location
            <select name="boro" id="boro">
                <option value="select">Select Borough</option>
                <option value="bronx">Bronx</option>
                <option value="brooklyn">Brooklyn</option>
                <option value="manhattan">Manhattan</option>
                <option value="queens">Queens</option>
                <option value="statenIsland">Staten Island</option>
            </select>
        </label>
        <label for="cuisine">
            Cuisine Type
            <input class="cuisine" type="text" id="cuisine" name="cuisine"><br>
        </label>
        <button type="submit" name="submitButton" id="submitButton">Search</button> 
    </form>

    <script src="../public/js/search.js"></script>
</main>